@import "tailwindcss";

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: ivory;
  overflow: hidden;
}

.r3f {
  touch-action: none;
}
.htmlScreen iframe {
  border: none;
  width: 1024px;
  height: 640px;
  overflow-y: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.htmlScreen iframe::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .htmlScreen {
    width: 95vw;
    aspect-ratio: 16 / 9;
  }
}

@layer components {
  /* loading-screen */
  .loader-container {
    @apply flex h-screen w-screen justify-center items-center bg-[#2c2f33];
  }
  .loader-title {
    @apply flex space-x-20 text-9xl font-bold  text-[#00897b] relative uppercase;
  }
  .progress-container {
    @apply relative w-32 h-32;
  }
  .progress-container-img {
    @apply w-full h-full rounded-full opacity-30;
  }
  .progress-indicator {
    @apply absolute inset-0 flex items-center justify-center text-5xl font-bold;
  }
}
