@import "tailwindcss";

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: ivory;
  overflow: hidden;
}

.r3f {
  touch-action: none;
}
.htmlScreen iframe {
  border: none;
  width: 1024px;
  height: 640px;
  overflow-y: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.htmlScreen iframe::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .flickerHover {
    animation: flickerHover 350ms ease-in-out forwards;
  }

  .contentFlickerHover {
    animation: contentFlickerHover 350ms ease-in-out forwards;
  }
}

@media (max-width: 768px) {
  .htmlScreen {
    width: 95vw;
    aspect-ratio: 16 / 9;
  }
}

@layer components {
  /* =========================
     Loading Screen
  ========================== */
  /* cursor */
  .cursor-trail {
    @apply absolute inset-0 overflow-hidden z-[2];
  }
  .trail-img {
    @apply absolute w-[175px] h-[175px] pointer-events-none;
  }
  .trail-img .mask-layer {
    @apply absolute inset-0 bg-black will-change-[clip-path];
  }
  .trail-img .mask-layer .image-layer {
    @apply absolute inset-0 bg-cover bg-center;
  }

  .loader-container {
    @apply flex h-screen w-screen items-center justify-center
           bg-[#2c2f33] overflow-hidden relative;
  }

  /* ===== Title + Progress ===== */

  .loader-title {
    @apply relative flex items-center gap-8
           font-bold uppercase text-[#00897b];
  }

  .loader-title-text {
    @apply text-2xl
           sm:text-3xl
           md:text-4xl
           lg:text-5xl
           xl:text-6xl;
  }

  /* ===== Progress ===== */

  .progress-container {
    @apply relative
           w-20 h-20
           sm:w-24 sm:h-24
           md:w-28 md:h-28
           lg:w-32 lg:h-32
           xl:w-40 xl:h-40;
  }

  .progress-container-img {
    @apply w-full h-full rounded-full opacity-30 object-cover;
  }

  .progress-indicator {
    @apply absolute inset-0 flex items-center justify-center
           font-bold
           text-2xl
           text-[#00897b]
           sm:text-3xl
           md:text-4xl
           lg:text-5xl
           xl:text-6xl;
  }

  /* ===== Blink positions ===== */

  .blink-top-right {
    @apply absolute top-6 right-6
           sm:top-10 sm:right-12
           lg:top-20 lg:right-32;
  }

  .blink-bottom-left {
    @apply absolute bottom-24 left-6
           sm:bottom-32 sm:left-12
           lg:bottom-40 lg:left-16;
  }

  .blink-bottom-center {
    @apply absolute bottom-10 left-1/2 -translate-x-1/2;
  }

  /* ===== Blink text ===== */

  .blink-text-container {
    @apply uppercase text-[#f1f3f3]
           text-xs
           sm:text-sm
           md:text-base
           lg:text-lg
           xl:text-xl;
  }

  .blink-text-title {
    @apply inline-flex
           text-2xl
           sm:text-3xl
           md:text-4xl
           lg:text-5xl
           xl:text-6xl;
  }

  /* =========================
    Language Options
 ========================== */

  .language-select {
    @apply fixed top-4 right-20 z-50  bg-[#2C2F33]/60;
  }
  .language-trigger {
    @apply w-full
  bg-transparent
   border border-[#00897B]
   rounded-xl
   px-4 py-2
   text-white
   uppercase
   tracking-widest
   text-sm
   flex items-center justify-center
   transition-all duration-300
   hover:border-[#00bfa6f9]
   hover:bg-[#00897B]
   focus:outline-none
   focus:shadow-[0_0_20px_rgba(0,137,123,0.5)];
  }
  .language-dropdown {
    @apply flex
        flex-col
        justify-center
        items-center
        absolute mt-2 w-full
        border border-[#00897B]
        rounded-xl
        overflow-hidden
        shadow-[0_0_30px_rgba(0,137,123,0.25)]
        animate-[fadeIn_0.2s_ease-out];
  }

  .language-option {
    @apply w-full flex flex-col text-center bg-[#2C2F33]/60 px-4 py-2 text-white uppercase tracking-widest text-sm cursor-pointer hover:bg-[#00897B]/80 transition-colors;
  }

  /* =========================
    Music
 ========================== */
  .music-toggle-btn {
    @apply overflow-hidden  fixed top-4 right-6 bg-[#2C2F33]/60 text-white rounded-xl z-100 ml-10 flex items-center justify-center space-x-0.5 
    border py-2 px-4 border-[#00897B]  hover:border-[#00bfa6f9]
    hover:bg-[#00897B];
    transition: transform 0.2s ease, background 0.2s ease;
  }
  .music-toggle-btn:active {
    transform: scale(1.25);
  }
  .indicator-line {
    @apply h-1 w-px rounded-full bg-white transition-all duration-200 ease-in-out;
  }

  .indicator-line.active {
    animation: indicator-line 0.5s ease infinite;
    animation-delay: calc(var(--animation-order) * 0.1s);
  }

  @keyframes indicator-line {
    0% {
      height: 4px;
      transform: translateY(-0px);
    }
    50% {
      height: 16px;
      transform: translateY(-1px);
    }
    100% {
      height: 4px;
      transform: translateY(-0px);
    }
  }

  /* NAV */
  /* toggle-button*/
  .menu-toggle-btn {
    @apply fixed
      left-1/2
      flex
      flex-col
      items-center
      justify-start
      gap-1
      cursor-pointer
      bg-white
      text-black
      opacity-50
      hover:opacity-100
      transition-all
      z-51
      duration-300;

    bottom: -6rem;
    width: 25rem;
    height: 10rem;
    padding-top: 2rem;
    transform: translateX(-50%);
    border-radius: 50% 50% 0 0 / 90% 90% 0 0;
  }

  .hamburger-bar {
    @apply w-8 h-0.5 bg-black;
  }

  .switch-on {
    @apply text-[yellowgreen] hover:scale-125 transition-transform;
  }

  .switch-off {
    @apply text-red-500 hover:scale-125 transition-transform;
  }

  /* menu-overlay */
  .menu-overlay {
    @apply fixed
      inset-0
      flex
      flex-col
      items-center
      justify-center
      overflow-hidden
      z-[100];

    height: 100svh;
    width: 100vw;
  }

  .circular-menu {
    @apply flex justify-center items-center relative w-[600px] h-[600px] z-50;
  }

  .menu-bg {
    @apply absolute
      inset-0
      bg-no-repeat
      bg-center
      z-10
      bg-cover;

    /* background-image: url("/images/overlay.png"); */
  }

  /* joystick */
  .joystick {
    @apply absolute
   
      lg:left-1/2
    
      md:-translate-x-1/2
      -translate-x-1/2
      -translate-y-1/2
      w-[100px]
      h-[100px]
      bg-white
      rounded-full
      flex
      items-center
      justify-center
      select-none
      cursor-grab
      z-51;
  }
  .joystick:active {
    @apply cursor-grabbing scale-95;
  }

  .center-icon {
    @apply absolute text-black text-[12px];
  }
  .center-main {
    @apply text-[30px];
  }
  .center-up {
    @apply top-3 left-1/2 -translate-x-1/2;
  }
  .center-down {
    @apply bottom-3 left-1/2 -translate-x-1/2;
  }

  .center-left {
    @apply left-3 top-1/2 -translate-y-1/2;
  }

  .center-right {
    @apply right-3 top-1/2 -translate-y-1/2;
  }
  /* segment */
  .menu-segment {
    @apply absolute w-full h-full text-white bg-white/5 backdrop-blur-[20px] cursor-pointer;
  }

  .menu-segment:hover {
    @apply z-50;
    animation: flickerHover;
  }

  .segment-content {
    @apply absolute flex flex-col items-center justify-center font-semibold text-center;
  }

  .menu-segment:hover .segment-content {
    @apply z-50;
    animation: contentFlickerHover;
  }

  .item-icon {
    @apply text-[40px] mb-2.5;
  }

  .label {
    @apply normal-case  text-[15px] font-medium;
  }
}

/*  
@layer components {

  .loader-container {
    @apply flex h-screen w-screen justify-center items-center bg-[#2c2f33];
  }
  .loader-title {
    @apply flex space-x-20 text-9xl font-bold  text-[#00897b] relative uppercase text-xl sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl;
  }
  .progress-container {
    @apply relative w-24 h-24 sm:w-28 sm:h-28 md:w-32 md:h-32 lg:w-40 lg:h-40 xl:w-48 xl:h-48 xl:mr-40;
  }
  .progress-container-img {
    @apply w-full h-full rounded-full opacity-30 object-cover;
  }
  .progress-indicator {
    @apply absolute inset-0 flex items-center justify-center text-6xl font-bold sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl;
  }
  .blink-top-right {
    @apply absolute top-6 right-6
           sm:top-10 sm:right-12
           lg:top-20 lg:right-32;
  }
  .blink-bottom-left {
    @apply absolute bottom-26 left-6
           sm:bottom-32 sm:left-12
           lg:bottom-40 lg:left-16;
  }
  .blink-bottom-center {
    @apply absolute bottom-10 left-1/2
           -translate-x-1/2;
  }

  .blink-text-container {
    @apply absolute inline-block text-xs uppercase text-[#f1f3f3] sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl;
  }
  .blink-text-title {
    @apply inline-flex text-xl  sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl;
  }
}
*/
