@import "tailwindcss";

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: ivory;
  overflow: hidden;
}

.r3f {
  touch-action: none;
}
.htmlScreen iframe {
  border: none;
  width: 1024px;
  height: 640px;
  overflow-y: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.htmlScreen iframe::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  .htmlScreen {
    width: 95vw;
    aspect-ratio: 16 / 9;
  }
}
