@import "tailwindcss";

html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: ivory;
  overflow: hidden;
}

.r3f {
  touch-action: none;
}

.htmlScreen iframe {
  width: 1014px;
  height: 670px;
  border: none;
}

@media (max-width: 768px) {
  .htmlScreen {
    width: 95vw;
    aspect-ratio: 16 / 9;
  }
}
